body {
    background-color: #f8f9fa;
}

.container-fluid {
    min-height: 100vh;
    /* Ocupar toda la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    width: 80%;
    max-width: 70%;
    height: 90vh;
    /* Para evitar que toque los bordes */
}

.left-side {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.query-container,
.place-description,
.review-header,
.review-body,
.review-footer {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.review-body {
    height: 65vh;
    overflow-y: auto;
}

.place-description {
    flex-grow: 1;
    /* Usa todo el espacio disponible */
    display: flex;
    flex-direction: column;
    /* Evita que se deforme */
}

.place-body {
    flex-grow: 1;
    overflow-y: auto;
}

.query-input {
    position: relative;
}

#autocomplete-list {
    position: absolute;
    width: 100%;
    background: white;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-height: 250px;
    overflow-y: auto;
    display: none;
}

#autocomplete-list .list-group-item {
    cursor: pointer;
    padding: 10px;
    border: none;
    transition: background 0.2s;
}

#autocomplete-list .list-group-item:hover {
    background: #e9ecef;
}